<div class="tought-form-container">
    <a href="/books">Voltar</a>
    <h1 class="title">Insira um novo livro</h1>
    <form action="/books/add" method="POST">
        <div class="field">
            <label class="label">Nome</label>
            <div class="control">
                <input class="input" type="text" id="name" name="name" placeholder="Insira o nome" />
            </div>
            <label class="label">Data da leitura</label>
            <div class="control">
                <input class="date" type="date" id="dateRead" name="dateRead" />
            </div>
            <label class="label">Descrição do livro</label>
            <div class="control">
                <textarea id="description" name="description" class="textarea is-primary"
                    placeholder="O que achou do livro"></textarea>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-small is-link">Cadastrar</button>
                </div>
            </div>
    </form>
</div>